@use "../../common/variables" as *;
@use "../../common/mixins" as *;

.travel-more {
  .section-header {
  }

  .travel-content {
    display: flex;
    gap: $spacing-xl;
    align-items: stretch;
  }

  @media (max-width: $breakpoint-md) {
    padding: $spacing-xxl 0;

    .travel-content {
      flex-direction: column;
      gap: $spacing-md;
    }
  }
}
