@use "../../common/variables" as *;
@use "../../common/mixins" as *;

.travel-more {
  .section-header {
  }

  .travel-content {
    display: flex;
    gap: $spacing-xl;
    align-items: stretch;
  }

  @media (max-width: 768px) {
    padding: $spacing-xxxl 0;

    .travel-content {
      flex-direction: column;
      gap: $spacing-xxl;
    }
  }
}
